@import url('https://fonts.googleapis.com/css?family=Courgette|Sarala&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background-color: #D8D3D3;
}